body {
    margin: 0;
    color: white;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}


.w100 { width: 100%; }
.bold { font-weight: bold; }
.titleText { font-size: large; }

.column {
    flex-direction: column;
}

.gap5 { gap: 5px; grid-gap: 5px; }
.gap10 { gap: 10px; grid-gap: 10px; }
.gap15 { gap: 15px; grid-gap: 15px; }
.gap20 { gap: 20px; grid-gap: 20px; }
.gap25 { gap: 25px; grid-gap: 25px; }
.gap30 { gap: 30px; grid-gap: 30px; }

.flex { display: flex; align-items: center; }
.grid { display: grid; align-items: center; }
.spaceBetween { justify-content: space-between; }

.center { 
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

.bar {
    padding: 20px;
    background-color: red;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    min-height: 547px;
    grid-template-columns: 33% 1fr;
}

.heroBanner {
    padding: 40px 0;
    background: steelblue;
}

aside {
    background: teal;
    height: 100%;
}

article {
    background: darkgreen;
    height: 100%;
}

.m20 { margin: 20px; }
