body {
    margin: 0;
    color: white;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}

.gap5 { gap: 5px; grid-gap: 5px; }
.gap10 { gap: 10px; grid-gap: 10px; }
.gap15 { gap: 15px; grid-gap: 15px; }
.gap20 { gap: 20px; grid-gap: 20px; }
.gap25 { gap: 25px; grid-gap: 25px; }
.gap30 { gap: 30px; grid-gap: 30px; }

.flex { display: flex; align-items: center; }
.spaceBetween { justify-content: space-between; }

.bar {
    padding: 20px;
    background-color: red;
}

a {
    text-decoration: none;
    color: white;
}

